<div class="card gedf-card">
    <div class="card-body" style="width: 100%;">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
              <div class="row">
                <div class="col-12">
                  <P *ngIf="!form.valid && form.touched" style="color: red;">Enter valid tweet</P>
                </div>
                <div [formGroup]="form" class="col-10 px-0">
                    <input formControlName="tweets"  style="width: 100%; font-size:large;" placeholder="What's happening?"
                        class="border border-info border-2 rounded-3 p-3">
                </div>
                <div  class="col-2 d-flex align-items-center">
                    <button (click)="onSubmitPost()" type="button" class="btn btn-info mx-auto text-light  p-2  rounded-pill">
                        <h5>tweet <i class="fas fa-paper-plane"></i></h5>
                    </button>
                   
                </div>
            </div>
            </div>
        </div>
        
    </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Post a Tweet</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form [formGroup]="form" align="center">
            <div class="form-group">
            <textarea class="form-control" formControlName="tweets" id="message" rows="3" placeholder="What are you thinking?"></textarea>
        </div>
    </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onSubmitPost()">Post</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)=" onReset()">Cancel</button>
        </div>
        </div>
        </div>
        </div>